{% extends 'base.html.twig' %}

{% block title %}Nos ventes de voiture professionnel{% endblock %}

{% block body %}
<div class="vente">
    <div class="container">
        <h1 class="my-3 text-center">Nos ventes de voiture professionnel</h1>
            <div class="row">
            {% for prosale in prosales %}
                {% set url = path('sale_info', {'id': prosale.id}) %}
                <div class="col-md-3">
                    <div class="card bg-secondary mb-3">
                        <div class="card-header text-center">
                            <h4>{{ prosale.marque }} {{ prosale.modele }}</h4>
                        </div>
                        <a href="{{url}}">
                            <img src="{{ prosale.img }}" alt="" class="prosaleimg">
                        </a>
                        <div class="card-body text-center">
                            <h4 class="card-title">
                                {{ prosale.km | number_format(0, '',' ') }} KM
                            </h4>
                            <p class="card-text">
                                <strong>{{prosale.prix | number_format(0, '',' ')}} €</strong>
                            </p>
                            <a href="{{url}}" class="btn btn-info mt-3">En savoir plus</a>
                        </div>
                    </div>
                </div> 
            {% endfor %}
            </div>
    </div>
</div>
{% endblock %}

