{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}

    <div class="container mt-5">
        <div class="card border-warning bg-secondary text-white text-center">
            <div class="card-body">
                <h1>Car Sale</h1>
                <p>Ce site propose de mettre en relation des vendeurs et des acheteurs de voiture qu'elles soient neuves ou d'occassions</p>
                <hr class="bg-warning">
                <p class="card-text mb-3">Vous recherchez une voiture ?</p>
                <a class="btn btn-primary btn-lg" href="{{ path('prosales_index') }}" role="button">Voir nos voitures Professionnel</a>
                <a class="btn btn-primary btn-lg" href="{{ path('partsales_index') }}" role="button">Voir nos voitures Particulier</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card mt-5 bg-warning">
            <h1 class="text-center mt-3 mb-3">Nos dernières voitures Professionnel</h1>
            <div class="row mx-auto justify-content-center">
            
                {% for newprosale in newprosales %}
                    {% set url = path('sale_info', {'id': newprosale.id}) %}
                    <div class="col-md-4">
                        <div class="card bg-secondary mb-3">
                            <div class="card-header text-center">
                                <h4>{{ newprosale.marque }} {{ newprosale.modele }}</h4>
                            </div>
                            <a href="{{url}}">
                                <img src="{{ newprosale.img }}" alt="" class="partsaleimg">
                            </a>
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    {{ newprosale.km | number_format(0, '',' ') }} KM
                                </h4>
                                <p class="card-text">
                                    <strong>{{newprosale.prix | number_format(0, '',' ')}} €</strong>
                                </p>
                                <a href="{{url}}" class="btn btn-info mt-3">En savoir plus</a>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card mt-5 mb-5 bg-light">
            <h1 class="text-center mt-3 mb-3">Nos dernières voitures Particulier</h1>
            <div class="row mx-auto justify-content-center">
                
                {% for newpartsale in newpartsales %}
                    {% set url = path('sale_info', {'id': newpartsale.id}) %}
                    <div class="col-md-4">
                        <div class="card bg-secondary mb-3">
                            <div class="card-header text-center">
                                <h4>{{ newpartsale.marque }} {{ newpartsale.modele }}</h4>
                            </div>
                            <a href="{{url}}">
                                <img src="{{ newpartsale.img }}" alt="" class="partsaleimg">
                            </a>
                            <div class="card-body text-center">
                                <h4 class="card-title">
                                    {{ newpartsale.km | number_format(0, '',' ') }} KM
                                </h4>
                                <p class="card-text">
                                    <strong>{{newpartsale.prix | number_format(0, '',' ')}} €</strong>
                                </p>
                                <a href="{{url}}" class="btn btn-info mt-3">En savoir plus</a>
                            </div>
                        </div>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </div>              
{% endblock %}
