{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center mb-3">
            <div class="col-md-6 me-auto">
                {% if user.picture %}
                        <img src="/public/uploads/{{ user.picture }}" class="avatar1 mb-3" alt="avatar de {{user.fullName}}">
                    {% else %}
                        <img src="https://picsum.photos/500/250" class="avatar mb-3" alt="avatar de {{user.fullName}}">
                {% endif %}
              
            </div>
            <div class="col-md-6">
                <h1>{{user.fullName}}</h1>
                {% if user is same as (app.user) %}
                    <div class="mt-3">
                        <a href="{{ path("account_profileModify")}}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a><br>
                        <a href="{{ path("account_password")}}" class="btn btn-primary mb-2">Modifier mon mot de passe</a><br>
                        <a href="{{ path("account_imgModify")}}" class="btn btn-primary mb-2">Modifier mon avatar</a><br>
                        <a href="{{ path("account_delimg")}}" class="btn btn-primary mb-2">Supprimer mon avatar</a> <br>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        <h2>Les annonces de {{user.fullName}}</h2>
        {# {% if user.ads | length > 0 %}
            <div class="row">
               {% for ad in user.ads %}
                   {% include 'ad/_ad.html.twig' %} 
               {% endfor %}
            </div>
            {% else %}
                <div class="alert alert-warning">
                    <p><strong>{{user.fullName}}</strong> n'a pas encore d'annonce sur le site</p>
                </div>

        {% endif %} #}
    </div>
{% endblock %}
